<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Shooting.ie</title>
		
		<meta name="author" content="Conor McDermottroe">
		<meta name="description" content=""> <!-- TODO -->

		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
		
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="/css/shooting.ie.css">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Shooting.ie</a>
					<ul class="nav">
						<li class="{{activeTabCalendar}}"><a href="/calendar">Calendar</a></li>
						<li class="{{activeTabClubsAndRanges}}"><a href="/clubs-and-ranges">Clubs &amp; Ranges</a></li>
						<li class="{{activeTabOrganisations}}"><a href="/organisations">Organisations</a></li>
						<li class="{{activeTabHelp}}"><a href="/help">Help</a></li>
						<li class="{{activeTabAbout}}"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
