{{>head}}
<h1>Calendar</h1>
<div class="calendar">
{{#events}}
<div class="day">
	<h2>{{day}}</h2>
	{{#day_events}}
	<div class="event">
		{{#img}}
		<img src="{{img}}" class="orgimg" title="{{calendar_name}}" />
		{{/img}}
		<h3>{{title}}{{#label}} <span class="label">{{label}}</span>{{/label}}</h3>
		{{#has_extra}}
			<table class="event_details">
				{{#location}}
				<tr><th>Location</th><td>{{location}}</td></tr>
				{{/location}}
				{{#time}}
				<tr><th>Time</th><td>{{time}}</td></tr>
				{{/time}}
				{{#details}}
				<tr><th>Details</th><td>{{details}}</td></tr>
				{{/details}}
			</table>
		{{/has_extra}}
	</div>
	{{/day_events}}
</div>
{{/events}}
</div>
{{>tail}}
